.bugreport-overlay {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;
    user-select: none;
}

.bugreport-panel {
    position: absolute;
    margin: 10px;
}

.bugreport-note {
    border-color: rgba(255,0,0,0.5);
    border-width: 10px;
    border-radius: 10px;
    border-style: solid;
    width: 1px;
    height: 1px;
    position: absolute;
}

.bugreport-message {
    position: absolute;
    min-width: 300px;
    border: 4px solid rgba(0,0,0,0.1);
    z-index: 2;
}
.bugreport-message .panel-heading {
    cursor: move;
}
.bugreport-message textarea {
    width: 100%;
}

.bugreport-line {
    position: absolute;
    border-color: rgba(255,0,0,0.5);
    border-style: solid;
    border-width: 0px;
}
.bugreport-line.bugreport-line-top { border-top-width: 3px; }
.bugreport-line.bugreport-line-bottom { border-bottom-width: 3px; }
.bugreport-line.bugreport-line-left { border-left-width: 3px; }
.bugreport-line.bugreport-line-right { border-right-width: 3px; }